.write-a-review {
  display: flex;
  justify-content: center;
  margin-right: 20em;
  margin-bottom: 3em;

  .write-a-review__form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    input {
      padding: 1em 2em;
    }
  }
}
