.category-items-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8em;
  transition: all 1s ease;

  .categories {
    margin-left: 20em;

    .navigation-links {
      display: flex;

      p {
      }
    }

    .categories-title {
      cursor: pointer;
      transition: all 0.1s ease;
      font-size: 1rem;
      width: 80px;

      &:hover {
        background-color: #f5f5f5;
      }

      &.category-title-clicked {
        background-color: #f5f5f5;
      }
    }
  }

  .products-container {
    .category-title {
      font-size: 30px;
      margin: 0;
    }

    .filters-container {
      display: flex;
      gap: 1em;
      .sizes-container {
        padding: 2em;
        padding-top: 0.7em;
        border: 1px solid black;

        .sizes {
          display: grid;
          grid-template-columns: 40px 40px 40px 40px;
          gap: 1em;

          p {
            text-align: center;
            font-size: 13px;
            background-color: #f5f5f5;
            padding: 1em;
            margin: 0;
            cursor: pointer;
            border: 1px solid white;
            justify-self: center;
            width: 20px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            &:hover {
              border: 1px solid rgb(200, 200, 200);
            }

            &.clicked {
              border: 1px solid black;
            }
          }
        }
      }

      .prices-container {
        padding: 2em;
        border: 1px solid black;
        padding: 0.7em 4.5em;

        header {
          margin-top: 1em;
        }

        p {
          cursor: pointer;

          &.selected-price {
            background-color: #f5f5f5;
          }
        }
      }
    }

    .product-title {
      margin-bottom: 2em;
    }
    .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1em;
      margin-right: 19em;
      margin-top: 1em;
    }
  }
}
